image: registry.gitlab.com/multicloud-openstack-k8s/docker-kubespray-ansible

variables:
  TF_CLI_ARGS_apply: '-auto-approve'
  TF_CLI_ARGS_destroy: '-auto-approve'
  GIT_SUBMODULE_STRATEGY: normal
  ANSIBLE_TIMEOUT: 300

stages: [up, down, pages, deploy]

pages:
  stage: pages
  image: python
  script:
    - pip install pyaml jinja2-cli
    - python map/clouds.py > map/clouds.json
    - cp -r map public
    - jinja2 app.gitlab-ci.yml.j2 clouds.yaml > public/app.gitlab-ci.yml
  artifacts:
    paths:
    - public
  only:
  - master

# Set templates

.deploy:
  stage: up
  before_script:
    # Apply kubespray patch
    - cd kubespray && git apply ../kubespray-v2.6.0.patch && cd ..
    - chmod o-w . * # See https://docs.ansible.com/ansible/devel/reference_appendices/config.html#cfg-in-world-writable-dir
    # Initialize SSH client
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$SSH_PUBLIC_KEY" > ~/.ssh/id_rsa.pub
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - pip install -r gitlab/requirements.txt
    # Set OS_PASSWORD var based on the current job
    - export OS_PASSWORD=$(eval echo \$OS_PASSWORD_$CI_ENVIRONMENT_NAME)
    - if [ -z "$OS_PASSWORD" ]; then echo "Error, OS_PASSWORD is undefined or empty" && exit 1; fi
  script:
    - ./up.sh $CI_ENVIRONMENT_NAME
  when: manual
  only:
    - master

.stop:
  stage: down
  before_script:
    - mkdir -p ~/.ssh && echo "$ID_RSA_PUB" > ~/.ssh/id_rsa.pub
    - export OS_PASSWORD=$(eval echo \$OS_PASSWORD_$CI_ENVIRONMENT_NAME)
    - if [ -z "$OS_PASSWORD" ]; then echo "Error, OS_PASSWORD is undefined or empty" && exit 1; fi
  script:
    - ./down.sh $CI_ENVIRONMENT_NAME
  when: manual
  only:
    - master

## DO NOT EDIT AFTER THIS LINE ##

{%- for cloud in clouds %}

# Deploy in {{ cloud }}

deploy_{{ cloud }}:
  extends: .deploy
  environment:
    name: {{ cloud }}
    on_stop: stop_{{ cloud }}

stop_{{ cloud }}:
  extends: .stop
  environment:
    name: {{ cloud }}
    action: stop
{%- endfor %}
