apiVersion: v1
kind: Config
clusters:
{%- for cluster in clouds %}
- name: {{ cluster }}
  cluster:
    server: https://{{ cluster }}.k8s.root314.com:6443
    insecure-skip-tls-verify: true
    # TODO: In production disable insecure-skip-tls-verify and use certificate-authority-data !
    # certificate-authority-data: "TBD"
{%- endfor %}
